.about-section {
  background: #f5ecec;
  padding-top: 80px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.line-icon {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-top-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.about-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
