.contact-section {
  padding-top: 64px;
  padding-bottom: 145px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  padding: 39px 15px;
  border-radius: 40px;
  border: 1px solid #b4baca;
  background-image: url(../img/contact/contact-img-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding: 39px;
    background-image: url(../img/contact/contact-img-desk.png);
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-subtitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  background: linear-gradient(151deg, #2c73f7 0%, #73d7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #fff;
  word-break: break-all;

  @include media(desktop) {
    font-size: 20px;
  }
}
