.features-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 64px;
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: 640px;
  }
}

.features-title-wrapper {
  align-items: start;

  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-list-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #5c5c5c;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.features-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.features-icon {
  min-width: 20px;
}

.features-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #5c5c5c;

  @include media(desktop) {
    font-size: 20px;
  }
}

.features-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #5c5c5c;

  @include media(desktop) {
    font-size: 20px;
  }
}

.features-img {
  @include media(desktop) {
    min-width: 608px;
  }
}
