.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 76px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 289px;
    padding-bottom: 227px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    position: relative;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.1;
  text-transform: uppercase;
  background: linear-gradient(151deg, #2c73f7 0%, #73d7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 228px;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 82px;
    max-width: 528px;
  }
}

.hero-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #b4baca;
  max-width: 228px;
  margin-bottom: 147px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 528px;
    margin-bottom: 0;
  }
}

.hero-bottom-text-wrapper {
  background: linear-gradient(360deg, #252553 0%, #5858c4 100%);
  padding: 130px 20px 20px 20px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  position: relative;

  @include media(desktop) {
    position: absolute;
    bottom: 70px;
    right: 64px;
  }
}

.hero-bottom-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.hero-img {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);

  @include media(desktop) {
  }
}
