.play-section {
  background: #772e3e;
  border-radius: 100px;
  padding-top: 24px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.play-container {
  @include media(desktop) {
  }
}

.play-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 48px;

  @include media(desktop) {
    justify-content: end;
    gap: 56px;
    margin-bottom: 56px;
  }
}

.play-top-left-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: #f2e8d4;

  @include media(desktop) {
    font-size: 16px;
  }
}

.play-top-right-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(245, 236, 236, 0.5);

  @include media(desktop) {
    font-size: 16px;
  }
}

.play-title-wrapper {
  @include media(desktop) {
  }
}

.play-title {
  color: #f2e8d4;

  @include media(desktop) {
  }
}

.play-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #f2e8d4;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }
}

.play-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    max-width: 832px;
    margin-left: auto;
    margin-right: auto;
  }
}

.play-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 256px;

  @include media(desktop) {
  }
}

.play-img {
  @include media(desktop) {
  }
}
