.uniqueness-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.uniqueness-container {
  @include media(desktop) {
  }
}

.uniqueness-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
}

.uniqueness-text-wrapper {
  @include media(desktop) {
    max-width: 640px;
  }
}

.uniqueness-title-wrapper {
  align-items: start;

  @include media(desktop) {
  }
}

.uniqueness-title {
  @include media(desktop) {
  }
}

.uniqueness-list-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #5c5c5c;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.uniqueness-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.uniqueness-icon {
  min-width: 20px;
}

.uniqueness-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #5c5c5c;

  @include media(desktop) {
    font-size: 20px;
  }
}

.uniqueness-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #5c5c5c;

  @include media(desktop) {
    font-size: 20px;
  }
}

.uniqueness-img {
  @include media(desktop) {
    min-width: 608px;
  }
}
