<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="section-title-wrapper about-title-wrapper">
      <svg class="line-icon" width="196" height="32">
        <use href="./img/sprite.svg#icon-line"></use>
      </svg>
      <h2 class="section-title about-title">What’s the Game</h2>
    </div>
    <p class="about-top-text">
      The game is built around a simple but engaging mechanic:
    </p>
    <p class="about-subtitle">spin to decide your next move</p>
    <p class="about-text">
      Each spin unlocks paths, bonuses, or obstacles. Players choose how to
      continue their journey and which rewards to pursue. Honestly, I've been
      testing this for weeks and I'm still finding new combinations.
    </p>
    <picture>
      <source
        srcset="./img/about/about-img-desk.png"
        media="(min-width: 1440px)"
        width="864"
        height="484" />
      <source srcset="./img/about/about-img-mob.png" width="343" height="192" />
      <img
        class="about-img"
        src="./img/about/about-img-mob.png"
        alt="Screenshot of the game"
        width="343"
        height="192"
        loading="lazy"
    /></picture>
  </div>
</section>
