<section class="section advantages-section" id="advantages">
  <div class="advantages-bg-wrapper">
    <div class="container advantages-container">
      <img
        class="advantages-img"
        src="./img/hero/hero-img.png"
        alt="Screenshot of the game"
        width="280"
        height="177"
      />
      <h2 class="section-title advantages-title">Designed for Relaxed Play</h2>
      <p class="advantages-text">
        Echo Rune Quest is designed for stress-free puzzle solving and players
        who care about atmosphere as much as gameplay. The clean interface keeps
        distractions to a minimum, letting you focus on the experience itself.
        With no timers or pressure mechanics, the game invites you to slow down,
        think, and enjoy a calm, thoughtful flow you’ll want to return to again
        and again.
      </p>
    </div>
  </div>
</section>
