<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <div class="section-title-wrapper faq-title-wrapper">
      <svg class="line-icon" width="196" height="32">
        <use href="./img/sprite.svg#icon-line"></use>
      </svg>
      <h2 class="section-title faq-title">FAQ</h2>
    </div>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is Spin Trail Saga free to play?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, the game is free with optional in-game bonuses.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Do I need fast reactions?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No, the gameplay is turn-based and relaxed.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I replay zones?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, zones can be revisited with new outcomes.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is the game suitable for all ages?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely, it’s designed for a wide audience.
        </p>
      </li>
    </ul>
  </div>
</section>
