<section class="section features-section" id="features">
  <div class="container features-container">
    <div class="features-content-wrapper">
      <div class="features-text-wrapper">
        <div class="section-title-wrapper features-title-wrapper">
          <svg class="line-icon" width="196" height="32">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <h2 class="section-title features-title">Benefits & Features</h2>
        </div>
        <p class="features-list-text">Here's what you actually get:</p>
        <ul class="features-list">
          <li class="features-list-item">
            <svg class="circle-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-circle"></use>
            </svg>
            <p class="features-item-text">
              Casual mechanics with strategic choice
            </p>
          </li>
          <li class="features-list-item">
            <svg class="circle-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-circle"></use>
            </svg>
            <p class="features-item-text">Bright, friendly visual style</p>
          </li>
          <li class="features-list-item">
            <svg class="circle-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-circle"></use>
            </svg>
            <p class="features-item-text">One-handed gameplay</p>
          </li>
          <li class="features-list-item">
            <svg class="circle-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-circle"></use>
            </svg>
            <p class="features-item-text">Zones that change after each spin</p>
          </li>
        </ul>
        <p class="features-text">
          You always know where you stand and what you've accomplished. It’s
          easy to start and satisfying to continue.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/features/features-img-desk.png"
          media="(min-width: 1440px)"
          width="607"
          height="340" />
        <source
          srcset="./img/features/features-img-mob.png"
          width="342"
          height="192" />
        <img
          class="features-img"
          src="./img/features/features-img-mob.png"
          alt="Screenshot of the game"
          width="342"
          height="192"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
