<section class="section gallery-section" id="gallery">
  <div class="gallery-bg-wrapper">
    <div class="container gallery-container">
      <div class="section-title-wrapper gallery-title-wrapper">
        <svg class="line-icon" width="196" height="32">
          <use href="./img/sprite.svg#icon-line-light"></use>
        </svg>
        <h2 class="section-title gallery-title">Gallery</h2>
      </div>
      <p class="gallery-text">
        We went for that Saturday morning cartoon vibe - colorful and fun
        without being overwhelming.
      </p>
      <ul class="gallery-list">
        <li class="gallery-list-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img1.png"
            alt="Screenshot of the game"
            width="254"
            height="380"
            loading="lazy"
          />
          <p class="gallery-item-title">world awakened</p>
          <p class="gallery-item-text">
            Signs of balance
            <span class="gallery-item-text-span">returning</span>
          </p>
        </li>
        <li class="gallery-list-item">
          <picture>
            <source
              srcset="./img/gallery/gallery-img2-desk.png"
              media="(min-width: 1440px)"
              width="456"
              height="684" />
            <source
              srcset="./img/gallery/gallery-img2-mob.png"
              width="343"
              height="684" />
            <img
              class="about-img"
              src="./img/gallery/gallery-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="684"
              loading="lazy"
          /></picture>
        </li>
        <li class="gallery-list-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img3.png"
            alt="Screenshot of the game"
            width="254"
            height="380"
            loading="lazy"
          />
          <p class="gallery-item-title">quiet progress</p>
          <p class="gallery-item-text">
            Small victories along
            <span class="gallery-item-text-span">your path</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
