<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">Spin Trail Saga</h1>
        <p class="hero-text hero-top-text">
          Set sail on a dreamy cruise filled with romance, drama, and
          ridiculously addictive match-3 puzzles you’ll swear you’ll quit after
          “just one more level.”
        </p>
        <p class="hero-text hero-top-bottom-text">
          Every spin's basically like rolling dice - sometimes you hit gold,
          sometimes you're totally stuck, but honestly? That's what makes it
          addictive.
        </p>
        <div class="hero-bottom-text-wrapper">
          <p class="hero-bottom-text hero-bottom-top-text">
            200+ paths to explore
          </p>
          <p class="hero-bottom-text hero-bottom-bottom-text">
            Your choices shape the trail
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
