<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">Echo Rune Quest</h1>
        <p class="hero-text">
          So basically, Echo Rune Quest is this puzzle game where your moves
          actually affect what happens next - pretty cool concept. Solve
          rune-based challenges, unlock hidden paths, and bring harmony back to
          enchanted lands.
        </p>
        <div class="hero-bottom-text-wrapper">
          <img
            class="hero-img"
            src="./img/hero/hero-img.png"
            alt="Screenshot of the game"
            width="280"
            height="177"
          />
          <p class="hero-bottom-text">
            You'll wake up these ancient runes and try to fix whatever the hell
            went wrong in this forgotten world.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
