<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <div class="play-content-wrapper">
        <h2 class="section-title play-title">How to Play</h2>
        <p class="play-text">
          Starts pretty easy, but you'll pick up some neat tricks the deeper you
          go.
        </p>
        <ul class="play-list">
          <li class="play-list-item">
            <svg class="play-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="play-item-text">Match runes with the same symbols</p>
          </li>
          <li class="play-list-item">
            <svg class="play-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="play-item-text">
              Trigger chain reactions for bonus effects
            </p>
          </li>
          <li class="play-list-item">
            <svg class="play-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="play-item-text">Clear cursed tiles to unlock new areas</p>
          </li>
          <li class="play-list-item">
            <svg class="play-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="play-item-text">
              Complete objectives within limited moves
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
