<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <div class="play-top-wrapper">
        <p class="play-top-left-text">A living world</p>
        <p class="play-top-right-text">Designed to breathe</p>
      </div>
      <div class="section-title-wrapper play-title-wrapper">
        <svg class="line-icon" width="196" height="32">
          <use href="./img/sprite.svg#icon-line-light"></use>
        </svg>
        <h2 class="section-title play-title">How to Play</h2>
      </div>
      <p class="play-text">
        It's quick to pick up and perfect when you've got like 10 minutes to
        kill.
      </p>
      <ul class="play-list">
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img1.png"
            alt="Screenshot of the game"
            width="256"
            height="256"
            loading="lazy"
          />
        </li>
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img2.png"
            alt="Screenshot of the game"
            width="256"
            height="256"
            loading="lazy"
          />
        </li>
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img3.png"
            alt="Screenshot of the game"
            width="256"
            height="256"
            loading="lazy"
          />
        </li>
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img4.png"
            alt="Screenshot of the game"
            width="256"
            height="256"
            loading="lazy"
          />
        </li>
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img5.png"
            alt="Screenshot of the game"
            width="256"
            height="256"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
