<section class="section uniqueness-section" id="uniqueness">
  <div class="container uniqueness-container">
    <div class="uniqueness-content-wrapper">
      <div class="uniqueness-text-wrapper">
        <h2 class="section-title uniqueness-title">What Makes It Special</h2>
        <p class="uniqueness-text">
          What makes Echo Rune Quest stand out from other puzzle games is its
          rune-based mechanics instead of the usual gems, combined with echo
          effects that actually influence your next moves. As you solve puzzles,
          levels visually evolve, creating a sense of progression and discovery.
          There’s no need to rush — you can take your time, relax, and enjoy a
          thoughtful, unhurried experience.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/uniqueness/uniqueness-img-desk.png"
          media="(min-width: 1440px)"
          width="608"
          height="368" />
        <source
          srcset="./img/uniqueness/uniqueness-img-mob.png"
          width="343"
          height="208" />
        <img
          class="uniqueness-img"
          src="./img/uniqueness/uniqueness-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="208"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
